@model Enrollment

@{
    ViewData["Title"] = "Details";
}

<div style="text-align: center;">
    <a class="btn btn-primary" asp-action="Index">BACK</a>
    <a class="btn btn-info" asp-action="AdminEdit" asp-route-id="@Model.Id">EDIT</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">DELETE</a>
</div>

<hr />

<dl class="row" style="width: 59%; margin-left: 39%;">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Course)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Course.Title)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Student)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Student.FullName)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Semester)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Semester)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Year)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Year)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Grade)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Grade)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.SeminalUrl)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SeminalUrl)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ProjectUrl)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ProjectUrl)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ExamPoints)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ExamPoints)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.SeminalPoints)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SeminalPoints)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ProjectPoints)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ProjectPoints)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.AdditionalPoints)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.AdditionalPoints)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.FinishDate)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.FinishDate)
    </dd>
</dl>